
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

#header {
    width: 100%;
    height: 70px;
    background-color: brown;
    position: fixed;
    top: 0;
    z-index: 2;
}

#header h2 {
    line-height: 70px;
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

#header .menu {
    list-style: none;
    text-align: center;
    float: right;
}

.menu li {
    display: inline-block;
    line-height: 70px;
    position: relative;
}


#home {
    margin-top: 76px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    transition: .4s;
    width: 160px;
    display: block;
}

li a i {
    font-size: 20px;
    color: white;
    padding-right: 7px;
}

.menu li a:hover {
    background-color: darkslategrey;
}

.submenu1 {
    position: absolute;
    background-color: firebrick;
    width: 160px;
    left: 0;
    display: none;
}

.menu li:hover .submenu1 {
    display: block;
}
.menu li:hover,
.show-btn:hover,
.hide-btn:hover {
    background-color: darkslategray;
}

.show-btn,
.hide-btn {
    font-size: 30px;
    color: white;
    line-height: 70px;
    transition: .4s;
    display: none;
}

.show-btn {
    float: right;
}

#chk {
    visibility: hidden;
    position: absolute;
    z-index: -10;
}

#home img {
    width: 100%;
    height: 100%;
}

#destination {
    background-image: url(destinationimg.jpg);
    background-attachment: fixed;
    background-size: cover;
    width:100%;
    margin-bottom: 10px;

}


#destination h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 40px;
}

.city {
    width: 350px;
    border-radius: 7px;
    box-shadow: 0px 5px 5px darkgrey;
    background-color: #36D9AA;
    margin:20px 20px;

}
.citycontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


.city h4 {
    margin: 0px 10px;
    text-align: center;
}

.city img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.city a:hover {
    background-color: #043225;
}

.city a {
    display: block;
    background-color: #0E6D52;
    text-decoration: none;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    padding: 10px;
}

.city p {
    line-height: 1.4;
}

.hotelsite {
    width: 260px;
    height: 260px;
    margin:20px 20px;
}

#destination::after {
    content: '';
    display: block;
    clear: both;
}

#hotel {
    background-image: url(hotelbg.jpg);
    background-attachment: fixed;
    background-size: cover;
    width:100%;
}
.hotelcontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#hotel h1 {
    color: white;
    text-align: center;
}

#about {

    background-color: #04052E;
    font-size: 40px;
    margin-top: 8px;
    width: 100%;
}

#about h2 {
    position: absolute;
    color: white;
    top: 38px;
    padding: 20px;

}

#about::after {
    content: '';
    display: block;
    clear: both;
}

.left {
    display: flex;
    float: left;
    width: 58%;
    margin: 8px 8px 8px 0px;
    padding: 8px;
    height: 87%;
    color: red;
    background-color: #07A2A5;

}

.left p {
    font-size: 18px;
    text-align: justify;
    color: white;
    margin: 20px;
    line-height: 1.5;
    overflow: auto;

}

.history {
    width: 100%;
    height: 173px;
    display: flex;
    justify-content: center;
    text-align: left;
    position: relative;
    z-index: 1;


}

#about img {
    width: 100%;
    height: 100%;
}

.culture {
    width: 100%;
    height: 173px;
    display: flex;
    justify-content: center;
    text-align: left;
    position: relative;
    background-color: white;
    margin: 11px 0;
    z-index: 1;

}

.festival {
    width: 100%;
    height: 173px;
    display: flex;
    justify-content: center;
    text-align: left;
    position: relative;
    z-index: 1;

}

.right {
    float: right;
    width: 40%;
    background-color: #04052E;
    height: 87%;
    margin: 8px 8px 8px 8px;

}

.right::after {
    content: '';
    display: block;
    clear: both;
}

#vehicle {
    background-image: url(vehicle.jpg);
    width:100%;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 10px;
}
.vehiclecontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#vehicle img {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    margin:20px 20px;
}

#vehicle h1 {
    color: white;
    text-align: center;
}

#contact {
    margin-top: 10px;
    padding: 20px;
    background-image: url(contact.jpg);
}

#contact h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact h4 {
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: yellow;
}
#contact i{
    font-size: 30px;
    color: white;
    text-align: center;
    display: inline-block;
    padding:10px;
}
@media(max-width: 1408px) {

    .show-btn,
    .hide-btn {
        display: block;
    }
    #header{
        padding: 0 20px;
    }
    .right h2{
        font-size: 12px;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 75%;
        background-color: black;
        padding: 80px 0;
        line-height: normal;
        transition: .7s;
    }

    #chk:checked~.menu {
        right: 0;
    }

    .menu li {
        display: block;
        text-align: center;
        width:100%;
        text-align: centre;
    }

    .menu li a {
        display: block;
        text-align: center;
    }

    .hide-btn {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    

}
